* {
  box-sizing: border-box;
}

.todo-section {
  min-width: 320px;
  max-width: 500px;
  margin: auto;
  position: relative;
}

#input-form p {
  text-align: center;
}

#input-field {
  width: 100%;
}
.tasks p {
  margin: 0;
}

.item-task {
  display: flex;
  border: 1px solid;
  padding: 10px;
  margin: 5px auto;
  border-radius: 15px;
  align-items: center;
  justify-content: space-between;
}

.checked {
  display: flex;
  border: 1px solid;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  cursor: pointer;
  padding: 5px;
  font-size: 15px;
}

.error {
  display: flex;
  position: relative;
  align-items: center;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
  background-color: #fa5757;
  margin-top: 16px;
}

.error-text {
  font-size: 14px;
  max-width: 80%;
}

.close-error {
  position: absolute;
  left: 90%;
  cursor: pointer;
  border: 1px solid;
  border-radius: 25px;
  width: 25px;
  height: 25px;
  text-align: center;
}

.hidden {
  display: none;
}

.no-tasks {
  text-align: center;
}
